* {
    margin: 0;
    box-sizing: border-box;
    font-family: Grandstander;
}

.mainPage {
    background-color: rgb(41, 39, 39);
    background-image: url('./img/fon.jpg');
    color: white;
    height: 100vh;
    width: 100vw;
}

.header {
    width: 100vw;
    height: 7vh;
    backdrop-filter: blur(250px);
    border-bottom: 4px solid black;
}

.area3d {
    width: 100vw;
    height: 93vh;
    font-size: 3rem;
    display: grid;
    position: relative;
    perspective: 600px;
}

.html {
    display: block;
    position: absolute;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 5vw;
    top: 20vh;
}

.css {
    display: block;
    position: absolute;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 20vw;
    top: 10vh;
}

.javascript {
    display: block;
    position: absolute;
    font-size: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 37vw;
    top: 40vh;
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    text-shadow:
    5px  5px 10px #ff0000,
    5px -5px 10px #ff0000,
    -5px  5px 10px #ff0000,
    -5px -5px 10px #ff0000;
}

.react {
    display: block;
    position: absolute;
    font-size: 5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 10vw;
    top: 70vh;
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    text-shadow:
    5px  5px 10px #00ff2a,
    5px -5px 10px #00ff2a,
    -5px  5px 10px #00ff2a,
    -5px -5px 10px #00ff2a;
}

.TS {
    display: block;
    position: absolute;
    font-size: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    right: 5vw;
    top: 15vh;
}

.redux {
    display: block;
    position: absolute;
    padding: 1rem;
    border-radius: 1rem;
    right: 15vw;
    bottom: 30vh;
}

.useEffect {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: -5vw;
    top: -15vh;
    text-shadow: none;
    -webkit-text-stroke: #ffffff;
    transform: translateX(var(--move-3x)) translateY(var(--move-3y));
}

.head {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 1vw;
    top: 5vh;
    transform: translateX(var(--move-x)) translateY(var(--move-y));
}

.link {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 10vw;
    top: 35vh;
    transform: translateX(var(--move-y)) translateY(var(--move-x));
}

.store {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 70vw;
    top: 75vh;
    transform: translateX(var(--move-4x)) translateY(var(--move-4y));
}

.function {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: -5vw;
    top: 35vh;
    text-shadow: none;
    -webkit-text-stroke: #ffffff;
    transform: translateX(var(--move-2x)) translateY(var(--move-2y));
}

.const {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 7vw;
    top: 20vh;
    text-shadow: none;
    -webkit-text-stroke: #ffffff;
    transform: translateX(var(--move-2y)) translateY(var(--move-2x));
}

.map {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 20vw;
    top: 30vh;
    text-shadow: none;
    -webkit-text-stroke: #ffffff;
    transform: translateX(var(--move-4x)) translateY(var(--move-4y));
}

.enum {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 90vw;
    top: 40vh;
    transform: translateX(var(--move-3x)) translateY(var(--move-3y));
}

.slice {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 87vw;
    top: 70vh;
    transform: translateX(var(--move-2y)) translateY(var(--move-2x));
}

.useState {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 10vw;
    top: -20vh;
    text-shadow: none;
    -webkit-text-stroke: #ffffff;
    transform: translateX(var(--move-3y)) translateY(var(--move-3x));
}

.interface {
    display: block;
    position: absolute;
    border: 0.1rem solid rgb(104, 104, 104);
    color: #2e2e2e;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    left: 70vw;
    top: 35vh;
    transform: translateX(var(--move-3y)) translateY(var(--move-3x));
}


.html:hover {
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    text-shadow:
    5px  5px 10px #ff009d,
    5px -5px 10px #ff009d,
    -5px  5px 10px #ff009d,
    -5px -5px 10px #ff009d;
}

.css:hover {
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    text-shadow:
    5px  5px 10px #ff009d,
    5px -5px 10px #ff009d,
    -5px  5px 10px #ff009d,
    -5px -5px 10px #ff009d;
}

.redux:hover {
    cursor: pointer;
    -webkit-text-stroke: 1px black;
    text-shadow:
    5px  5px 10px #e5ff00,
    5px -5px 10px #e5ff00,
    -5px  5px 10px #e5ff00,
    -5px -5px 10px #e5ff00;
}

.TS:hover {
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    text-shadow:
    5px  5px 10px #0004ff,
    5px -5px 10px #0004ff,
    -5px  5px 10px #0004ff,
    -5px -5px 10px #0004ff;
}

.react:hover .useState {
    transition: 1s;
    color: #00ff2a;
    border: 0.1rem solid #00ff2a;
    cursor: default;
}

.react:hover .useEffect {
    transition: 1s;
    color: #00ff2a;
    border: 0.1rem solid #00ff2a;
    cursor: default;
}

.head:hover {
    transition: 1s;
    color: #ff009d;
    border: 0.1rem solid #ff009d;
    cursor: default;
}

.link:hover {
    transition: 1s;
    color: #ff009d;
    border: 0.1rem solid #ff009d;
    cursor: default;
}

.javascript:hover .function {
    transition: 1s;
    color: #ff0000;
    border: 0.1rem solid #ff0000;
    cursor: default;
}

.javascript:hover .map {
    transition: 1s;
    color: #ff0000;
    border: 0.1rem solid #ff0000;
    cursor: default;
}

.javascript:hover .const {
    transition: 1s;
    color: #ff0000;
    border: 0.1rem solid #ff0000;
    cursor: default;
}

.store:hover {
    transition: 1s;
    color: #e5ff00;
    border: 0.1rem solid #e5ff00;
    cursor: default;
}

.slice:hover {
    transition: 1s;
    color: #e5ff00;
    border: 0.1rem solid #e5ff00;
    cursor: default;
}

.interface:hover {
    transition: 1s;
    color: #0004ff;
    border: 0.1rem solid #0004ff;
    cursor: default;
}

.enum:hover {
    transition: 1s;
    color: #0004ff;
    border: 0.1rem solid #0004ff;
    cursor: default;
}
